#### Let's import the required libraries for the case study

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("train.csv")
data.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

###  Data Understanding, Preparation, and Pre-Processing

In [3]:
# We have around 172 columns. Let's see their datatypes to know if any are categorical in nature
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Dtype
---   ------                    -----
 0    id                        int64
 1    circle_id                 int64
 2    loc_og_t2o_mou            float64
 3    std_og_t2o_mou            float64
 4    loc_ic_t2o_mou            float64
 5    last_date_of_month_6      object
 6    last_date_of_month_7      object
 7    last_date_of_month_8      object
 8    arpu_6                    float64
 9    arpu_7                    float64
 10   arpu_8                    float64
 11   onnet_mou_6               float64
 12   onnet_mou_7               float64
 13   onnet_mou_8               float64
 14   offnet_mou_6              float64
 15   offnet_mou_7              float64
 16   offnet_mou_8              float64
 17   roam_ic_mou_6             float64
 18   roam_ic_mou_7             float64
 19   roam_ic_mou_8             float64
 20   roam_og_mou_6             float64
 21   roam_og_mou_7             float64
 22   roam_og_mou_8             float64
 23   loc_og_t2t_mou_6          float64
 24   loc_og_t2t_mou_7          float64
 25   loc_og_t2t_mou_8          float64
 26   loc_og_t2m_mou_6          float64
 27   loc_og_t2m_mou_7          float64
 28   loc_og_t2m_mou_8          float64
 29   loc_og_t2f_mou_6          float64
 30   loc_og_t2f_mou_7          float64
 31   loc_og_t2f_mou_8          float64
 32   loc_og_t2c_mou_6          float64
 33   loc_og_t2c_mou_7          float64
 34   loc_og_t2c_mou_8          float64
 35   loc_og_mou_6              float64
 36   loc_og_mou_7              float64
 37   loc_og_mou_8              float64
 38   std_og_t2t_mou_6          float64
 39   std_og_t2t_mou_7          float64
 40   std_og_t2t_mou_8          float64
 41   std_og_t2m_mou_6          float64
 42   std_og_t2m_mou_7          float64
 43   std_og_t2m_mou_8          float64
 44   std_og_t2f_mou_6          float64
 45   std_og_t2f_mou_7          float64
 46   std_og_t2f_mou_8          float64
 47   std_og_t2c_mou_6          float64
 48   std_og_t2c_mou_7          float64
 49   std_og_t2c_mou_8          float64
 50   std_og_mou_6              float64
 51   std_og_mou_7              float64
 52   std_og_mou_8              float64
 53   isd_og_mou_6              float64
 54   isd_og_mou_7              float64
 55   isd_og_mou_8              float64
 56   spl_og_mou_6              float64
 57   spl_og_mou_7              float64
 58   spl_og_mou_8              float64
 59   og_others_6               float64
 60   og_others_7               float64
 61   og_others_8               float64
 62   total_og_mou_6            float64
 63   total_og_mou_7            float64
 64   total_og_mou_8            float64
 65   loc_ic_t2t_mou_6          float64
 66   loc_ic_t2t_mou_7          float64
 67   loc_ic_t2t_mou_8          float64
 68   loc_ic_t2m_mou_6          float64
 69   loc_ic_t2m_mou_7          float64
 70   loc_ic_t2m_mou_8          float64
 71   loc_ic_t2f_mou_6          float64
 72   loc_ic_t2f_mou_7          float64
 73   loc_ic_t2f_mou_8          float64
 74   loc_ic_mou_6              float64
 75   loc_ic_mou_7              float64
 76   loc_ic_mou_8              float64
 77   std_ic_t2t_mou_6          float64
 78   std_ic_t2t_mou_7          float64
 79   std_ic_t2t_mou_8          float64
 80   std_ic_t2m_mou_6          float64
 81   std_ic_t2m_mou_7          float64
 82   std_ic_t2m_mou_8          float64
 83   std_ic_t2f_mou_6          float64
 84   std_ic_t2f_mou_7          float64
 85   std_ic_t2f_mou_8          float64
 86   std_ic_t2o_mou_6          float64
 87   std_ic_t2o_mou_7          float64
 88   std_ic_t2o_mou_8          float64
 89   std_ic_mou_6              float64
 90   std_ic_mou_7              float64
 91   std_ic_mou_8              float64
 92   total_ic_mou_6            float64
 93   total_ic_mou_7            float64
 94   total_ic_mou_8            float64
 95   spl_ic_mou_6              float64
 96   spl_ic_mou_7              float64
 97   spl_ic_mou_8              float64
 98   isd_ic_mou_6              float64
 99   isd_ic_mou_7              float64
 100  isd_ic_mou_8              float64
 101  ic_others_6               float64
 102  ic_others_7               float64
 103  ic_others_8               float64
 104  total_rech_num_6          int64
 105  total_rech_num_7          int64
 106  total_rech_num_8          int64
 107  total_rech_amt_6          int64
 108  total_rech_amt_7          int64
 109  total_rech_amt_8          int64
 110  max_rech_amt_6            int64
 111  max_rech_amt_7            int64
 112  max_rech_amt_8            int64
 113  date_of_last_rech_6       object
 114  date_of_last_rech_7       object
 115  date_of_last_rech_8       object
 116  last_day_rch_amt_6        int64
 117  last_day_rch_amt_7        int64
 118  last_day_rch_amt_8        int64
 119  date_of_last_rech_data_6  object
 120  date_of_last_rech_data_7  object
 121  date_of_last_rech_data_8  object
 122  total_rech_data_6         float64
 123  total_rech_data_7         float64
 124  total_rech_data_8         float64
 125  max_rech_data_6           float64
 126  max_rech_data_7           float64
 127  max_rech_data_8           float64
 128  count_rech_2g_6           float64
 129  count_rech_2g_7           float64
 130  count_rech_2g_8           float64
 131  count_rech_3g_6           float64
 132  count_rech_3g_7           float64
 133  count_rech_3g_8           float64
 134  av_rech_amt_data_6        float64
 135  av_rech_amt_data_7        float64
 136  av_rech_amt_data_8        float64
 137  vol_2g_mb_6               float64
 138  vol_2g_mb_7               float64
 139  vol_2g_mb_8               float64
 140  vol_3g_mb_6               float64
 141  vol_3g_mb_7               float64
 142  vol_3g_mb_8               float64
 143  arpu_3g_6                 float64
 144  arpu_3g_7                 float64
 145  arpu_3g_8                 float64
 146  arpu_2g_6                 float64
 147  arpu_2g_7                 float64
 148  arpu_2g_8                 float64
 149  night_pck_user_6          float64
 150  night_pck_user_7          float64
 151  night_pck_user_8          float64
 152  monthly_2g_6              int64
 153  monthly_2g_7              int64
 154  monthly_2g_8              int64
 155  sachet_2g_6               int64
 156  sachet_2g_7               int64
 157  sachet_2g_8               int64
 158  monthly_3g_6              int64
 159  monthly_3g_7              int64
 160  monthly_3g_8              int64
 161  sachet_3g_6               int64
 162  sachet_3g_7               int64
 163  sachet_3g_8               int64
 164  fb_user_6                 float64
 165  fb_user_7                 float64
 166  fb_user_8                 float64
 167  aon                       int64
 168  aug_vbc_3g                float64
 169  jul_vbc_3g                float64
 170  jun_vbc_3g                float64
 171  churn_probability         int64
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

##### We see that total 9 columns are of object datatype. Let's see the values for these columns and figure out if they would mean any business value.

In [4]:
object_cols = list(data.select_dtypes(include=["object"]).columns)
object_cols

['last_date_of_month_6',
 'last_date_of_month_7',
 'last_date_of_month_8',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8']

In [5]:
data[object_cols]

,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8
0,6/30/2014,7/31/2014,8/31/2014,6/22/2014,7/10/2014,8/24/2014,NaN,NaN,NaN
1,6/30/2014,7/31/2014,8/31/2014,6/12/2014,7/10/2014,8/26/2014,NaN,7/8/2014,NaN
2,6/30/2014,7/31/2014,8/31/2014,6/11/2014,7/22/2014,8/24/2014,NaN,NaN,NaN
3,6/30/2014,7/31/2014,8/31/2014,6/15/2014,7/21/2014,8/25/2014,NaN,NaN,NaN
4,6/30/2014,7/31/2014,8/31/2014,6/25/2014,7/26/2014,8/30/2014,6/25/2014,7/23/2014,8/20/2014
...,...,...,...,...,...,...,...,...,...
69994,6/30/2014,7/31/2014,8/31/2014,6/18/2014,7/31/2014,8/31/2014,NaN,7/31/2014,8/21/2014
69995,6/30/2014,7/31/2014,8/31/2014,6/28/2014,7/31/2014,8/27/2014,NaN,NaN,NaN
69996,6/30/2014,7/31/2014,8/31/2014,6/25/2014,7/30/2014,8/29/2014,NaN,NaN,NaN
69997,6/30/2014,7/31/2014,8/31/2014,6/29/2014,7/19/2014,8/26/2014,6/17/2014,7/13/2014,8/14/2014
69998,6/30/2014,7/31/2014,8/31/2014,6/19/2014,7/27/2014,8/25/2014,6/19/2014,NaN,8/8/2014

###### We see that these columns are of date datatype and they simply describe the last date of the month. 
###### From a business point of view, last date of the month will not have any impact on the customer's behaviour as it's a static data. Hence we can exclude this column from further analysis

In [6]:
type(object_cols)

list

In [7]:
data = data.drop(columns=object_cols)
# Let's see if there are any columns left with object data type
data.select_dtypes(include=["object"])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[69999 rows x 0 columns]

In [8]:
data.info(verbose=True, show_counts=True )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 163 columns):
 #    Column              Non-Null Count  Dtype
---   ------              --------------  -----
 0    id                  69999 non-null  int64
 1    circle_id           69999 non-null  int64
 2    loc_og_t2o_mou      69297 non-null  float64
 3    std_og_t2o_mou      69297 non-null  float64
 4    loc_ic_t2o_mou      69297 non-null  float64
 5    arpu_6              69999 non-null  float64
 6    arpu_7              69999 non-null  float64
 7    arpu_8              69999 non-null  float64
 8    onnet_mou_6         67231 non-null  float64
 9    onnet_mou_7         67312 non-null  float64
 10   onnet_mou_8         66296 non-null  float64
 11   offnet_mou_6        67231 non-null  float64
 12   offnet_mou_7        67312 non-null  float64
 13   offnet_mou_8        66296 non-null  float64
 14   roam_ic_mou_6       67231 non-null  float64
 15   roam_ic_mou_7       67312 non-null  float64
 16   roam_ic_mou_8       66296 non-null  float64
 17   roam_og_mou_6       67231 non-null  float64
 18   roam_og_mou_7       67312 non-null  float64
 19   roam_og_mou_8       66296 non-null  float64
 20   loc_og_t2t_mou_6    67231 non-null  float64
 21   loc_og_t2t_mou_7    67312 non-null  float64
 22   loc_og_t2t_mou_8    66296 non-null  float64
 23   loc_og_t2m_mou_6    67231 non-null  float64
 24   loc_og_t2m_mou_7    67312 non-null  float64
 25   loc_og_t2m_mou_8    66296 non-null  float64
 26   loc_og_t2f_mou_6    67231 non-null  float64
 27   loc_og_t2f_mou_7    67312 non-null  float64
 28   loc_og_t2f_mou_8    66296 non-null  float64
 29   loc_og_t2c_mou_6    67231 non-null  float64
 30   loc_og_t2c_mou_7    67312 non-null  float64
 31   loc_og_t2c_mou_8    66296 non-null  float64
 32   loc_og_mou_6        67231 non-null  float64
 33   loc_og_mou_7        67312 non-null  float64
 34   loc_og_mou_8        66296 non-null  float64
 35   std_og_t2t_mou_6    67231 non-null  float64
 36   std_og_t2t_mou_7    67312 non-null  float64
 37   std_og_t2t_mou_8    66296 non-null  float64
 38   std_og_t2m_mou_6    67231 non-null  float64
 39   std_og_t2m_mou_7    67312 non-null  float64
 40   std_og_t2m_mou_8    66296 non-null  float64
 41   std_og_t2f_mou_6    67231 non-null  float64
 42   std_og_t2f_mou_7    67312 non-null  float64
 43   std_og_t2f_mou_8    66296 non-null  float64
 44   std_og_t2c_mou_6    67231 non-null  float64
 45   std_og_t2c_mou_7    67312 non-null  float64
 46   std_og_t2c_mou_8    66296 non-null  float64
 47   std_og_mou_6        67231 non-null  float64
 48   std_og_mou_7        67312 non-null  float64
 49   std_og_mou_8        66296 non-null  float64
 50   isd_og_mou_6        67231 non-null  float64
 51   isd_og_mou_7        67312 non-null  float64
 52   isd_og_mou_8        66296 non-null  float64
 53   spl_og_mou_6        67231 non-null  float64
 54   spl_og_mou_7        67312 non-null  float64
 55   spl_og_mou_8        66296 non-null  float64
 56   og_others_6         67231 non-null  float64
 57   og_others_7         67312 non-null  float64
 58   og_others_8         66296 non-null  float64
 59   total_og_mou_6      69999 non-null  float64
 60   total_og_mou_7      69999 non-null  float64
 61   total_og_mou_8      69999 non-null  float64
 62   loc_ic_t2t_mou_6    67231 non-null  float64
 63   loc_ic_t2t_mou_7    67312 non-null  float64
 64   loc_ic_t2t_mou_8    66296 non-null  float64
 65   loc_ic_t2m_mou_6    67231 non-null  float64
 66   loc_ic_t2m_mou_7    67312 non-null  float64
 67   loc_ic_t2m_mou_8    66296 non-null  float64
 68   loc_ic_t2f_mou_6    67231 non-null  float64
 69   loc_ic_t2f_mou_7    67312 non-null  float64
 70   loc_ic_t2f_mou_8    66296 non-null  float64
 71   loc_ic_mou_6        67231 non-null  float64
 72   loc_ic_mou_7        67312 non-null  float64
 73   loc_ic_mou_8        66296 non-null  float64
 74   std_ic_t2t_mou_6    67231 non-null  float64
 75   std_ic_t2t_mou_7    67312 non-null  float64
 76   std_ic_t2t_mou_8    66296 non-null  float64
 77   std_ic_t2m_mou_6    67231 non-null  float64
 78   std_ic_t2m_mou_7    67312 non-null  float64
 79   std_ic_t2m_mou_8    66296 non-null  float64
 80   std_ic_t2f_mou_6    67231 non-null  float64
 81   std_ic_t2f_mou_7    67312 non-null  float64
 82   std_ic_t2f_mou_8    66296 non-null  float64
 83   std_ic_t2o_mou_6    67231 non-null  float64
 84   std_ic_t2o_mou_7    67312 non-null  float64
 85   std_ic_t2o_mou_8    66296 non-null  float64
 86   std_ic_mou_6        67231 non-null  float64
 87   std_ic_mou_7        67312 non-null  float64
 88   std_ic_mou_8        66296 non-null  float64
 89   total_ic_mou_6      69999 non-null  float64
 90   total_ic_mou_7      69999 non-null  float64
 91   total_ic_mou_8      69999 non-null  float64
 92   spl_ic_mou_6        67231 non-null  float64
 93   spl_ic_mou_7        67312 non-null  float64
 94   spl_ic_mou_8        66296 non-null  float64
 95   isd_ic_mou_6        67231 non-null  float64
 96   isd_ic_mou_7        67312 non-null  float64
 97   isd_ic_mou_8        66296 non-null  float64
 98   ic_others_6         67231 non-null  float64
 99   ic_others_7         67312 non-null  float64
 100  ic_others_8         66296 non-null  float64
 101  total_rech_num_6    69999 non-null  int64
 102  total_rech_num_7    69999 non-null  int64
 103  total_rech_num_8    69999 non-null  int64
 104  total_rech_amt_6    69999 non-null  int64
 105  total_rech_amt_7    69999 non-null  int64
 106  total_rech_amt_8    69999 non-null  int64
 107  max_rech_amt_6      69999 non-null  int64
 108  max_rech_amt_7      69999 non-null  int64
 109  max_rech_amt_8      69999 non-null  int64
 110  last_day_rch_amt_6  69999 non-null  int64
 111  last_day_rch_amt_7  69999 non-null  int64
 112  last_day_rch_amt_8  69999 non-null  int64
 113  total_rech_data_6   17568 non-null  float64
 114  total_rech_data_7   17865 non-null  float64
 115  total_rech_data_8   18417 non-null  float64
 116  max_rech_data_6     17568 non-null  float64
 117  max_rech_data_7     17865 non-null  float64
 118  max_rech_data_8     18417 non-null  float64
 119  count_rech_2g_6     17568 non-null  float64
 120  count_rech_2g_7     17865 non-null  float64
 121  count_rech_2g_8     18417 non-null  float64
 122  count_rech_3g_6     17568 non-null  float64
 123  count_rech_3g_7     17865 non-null  float64
 124  count_rech_3g_8     18417 non-null  float64
 125  av_rech_amt_data_6  17568 non-null  float64
 126  av_rech_amt_data_7  17865 non-null  float64
 127  av_rech_amt_data_8  18417 non-null  float64
 128  vol_2g_mb_6         69999 non-null  float64
 129  vol_2g_mb_7         69999 non-null  float64
 130  vol_2g_mb_8         69999 non-null  float64
 131  vol_3g_mb_6         69999 non-null  float64
 132  vol_3g_mb_7         69999 non-null  float64
 133  vol_3g_mb_8         69999 non-null  float64
 134  arpu_3g_6           17568 non-null  float64
 135  arpu_3g_7           17865 non-null  float64
 136  arpu_3g_8           18417 non-null  float64
 137  arpu_2g_6           17568 non-null  float64
 138  arpu_2g_7           17865 non-null  float64
 139  arpu_2g_8           18417 non-null  float64
 140  night_pck_user_6    17568 non-null  float64
 141  night_pck_user_7    17865 non-null  float64
 142  night_pck_user_8    18417 non-null  float64
 143  monthly_2g_6        69999 non-null  int64
 144  monthly_2g_7        69999 non-null  int64
 145  monthly_2g_8        69999 non-null  int64
 146  sachet_2g_6         69999 non-null  int64
 147  sachet_2g_7         69999 non-null  int64
 148  sachet_2g_8         69999 non-null  int64
 149  monthly_3g_6        69999 non-null  int64
 150  monthly_3g_7        69999 non-null  int64
 151  monthly_3g_8        69999 non-null  int64
 152  sachet_3g_6         69999 non-null  int64
 153  sachet_3g_7         69999 non-null  int64
 154  sachet_3g_8         69999 non-null  int64
 155  fb_user_6           17568 non-null  float64
 156  fb_user_7           17865 non-null  float64
 157  fb_user_8           18417 non-null  float64
 158  aon                 69999 non-null  int64
 159  aug_vbc_3g          69999 non-null  float64
 160  jul_vbc_3g          69999 non-null  float64
 161  jun_vbc_3g          69999 non-null  float64
 162  churn_probability   69999 non-null  int64
dtypes: float64(135), int64(28)
memory usage: 87.1 MB

In [42]:
missing_data_percent = 100*data.isnull().sum()/len(data)
missing_data_percent

Column_Name
id                   0.000000
circle_id            0.000000
loc_og_t2o_mou       1.002871
std_og_t2o_mou       1.002871
loc_ic_t2o_mou       1.002871
                       ...
aon                  0.000000
aug_vbc_3g           0.000000
jul_vbc_3g           0.000000
jun_vbc_3g           0.000000
churn_probability    0.000000
Length: 163, dtype: float64

In [43]:
# We see that there are columns having around 74% missing values, we should be removing these columns as they
# would not be helpful in model building and making prediction
new_vars = missing_data_percent[missing_data_percent.le(40)].index
new_vars

Index(['id', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou',
       'arpu_6', 'arpu_7', 'arpu_8', 'onnet_mou_6', 'onnet_mou_7',
       ...
       'monthly_3g_7', 'monthly_3g_8', 'sachet_3g_6', 'sachet_3g_7',
       'sachet_3g_8', 'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g',
       'churn_probability'],
      dtype='object', name='Column_Name', length=136)

In [44]:
data = data[new_vars]
data

Column_Name,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,...,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,31.277,87.009,7.527,48.58,124.38,...,0,0,0,0,0,1958,0.00,0.00,0.00,0
1,1,109,0.0,0.0,0.0,0.000,122.787,42.953,0.00,0.00,...,1,0,0,0,0,710,0.00,0.00,0.00,0
2,2,109,0.0,0.0,0.0,60.806,103.176,0.000,0.53,15.93,...,0,0,0,0,0,882,0.00,0.00,0.00,0
3,3,109,0.0,0.0,0.0,156.362,205.260,111.095,7.26,16.01,...,0,0,0,0,0,982,0.00,0.00,0.00,0
4,4,109,0.0,0.0,0.0,240.708,128.191,101.565,21.28,4.83,...,0,0,0,1,0,647,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,69994,109,0.0,0.0,0.0,15.760,410.924,329.136,0.00,7.36,...,0,0,0,1,0,221,0.00,0.00,0.00,0
69995,69995,109,0.0,0.0,0.0,160.083,289.129,265.772,116.54,196.46,...,0,0,0,0,0,712,0.00,0.00,0.00,0
69996,69996,109,0.0,0.0,0.0,372.088,258.374,279.782,77.13,68.44,...,0,0,0,0,0,879,0.00,0.00,0.00,0
69997,69997,109,0.0,0.0,0.0,238.575,245.414,145.062,14.01,7.64,...,1,1,0,0,0,277,664.25,1402.96,990.97,0
69998,69998,109,0.0,0.0,0.0,168.269,42.815,167.961,0.00,0.00,...,0,0,0,0,0,1876,0.00,0.00,0.00,0

In [45]:
(100*data.isnull().sum()/len(data)).describe()

count    136.000000
mean       2.811889
std        2.143120
min        0.000000
25%        0.000000
50%        3.838626
75%        3.954342
max        5.290076
dtype: float64